html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 2.5vh 2.5vw;
    box-sizing: border-box;
    background-color: #cfcfcf;
    font-family: 'Montserrat';
    /* overflow-x: hidden; */
    background: url('https://preview.redd.it/natura-wallpaper-1920x1200-v0-i09slbtged1a1.jpg?width=1080&crop=smart&auto=webp&s=49cc76d59a2835e419a7697d19dd601fa2f65c8f');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}
i{
    margin: 0;
    padding: 0;
}

div.background-row{
    width: 100%;
    height: 10%;
}

div.top-bar{
    width: auto;
    /*position: fixed;
    top: 5%;
    left: 10%;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 25px 30px;
    align-items: center;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    z-index: 100;
}

div.row{
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
}

div.hub{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border-radius: 15px;
    color: #201dd8
}

div.hub__text{
    display: flex;
    flex-direction: column;
}

div.hub__text__title{
    position: static;
    font-weight: 700;
    font-size: 125%;
}

div.hub__text__subtitle{
    position: static;
    font-weight: 600;
    color: #000000
}

div.search-bar{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 10px;
    align-items: center;
    border: 1px solid #6f6f6f;
    border-radius: 15px;
    width: 30%;
    margin-left: auto;
    color: #6f6f6f;
}

div.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    /* justify-content: space-between; */
}

div.menu__option{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 0 25px 0 15px;
}

.menu__option__text {
    font-weight: 600;
    color: #000000;
}

div.menu__option__line{
    border-right: 1px solid #6f6f6f;
}

a.active div.menu__option__text{
    color: #201dd8
}

div.personal-area{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 15px;
    align-items: center;
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    background-color: #201dd8;
    color: #ffffff;
}