#nav-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.floating {
    top: 20px;
    left: 5%;
    width: 90%;
    height: 120px;
    border-radius: 15px;
    gap:50px;
}
.fix {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
}

#titolo {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    border: solid grey 1px;
}
.search input {
    border: none;
}

#large-screen {
    display: flex;
    width: 450px;
    height: 30px;
}
#small-screen {
    display: none;
}

nav {
    width: 85%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
}
nav #container {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-link {
    display: flex;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
    align-items: center;
}
.current-page {
    color: blue;
}
nav button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
}